<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.spring.dao.MemberDAO">
  <select id="getEmailbyID" resultType="String">
    <!-- select email from member where id = #{id} -->
    SELECT email FROM user WHERE uid = #{id}
  </select>
  
  <insert id="insertNewUser">
  	<!-- INSERT #{email}, #{name} TO user -->
  	INSERT INTO user (email, name) SELECT #{email}, #{name} FROM dual WHERE NOT EXISTS( SELECT * FROM user WHERE email = #{email});
  </insert>
  
  <insert id="insertAdditionalNewUser">
  	INSERT INTO setting (uid, fontSize) SELECT #{uid}, 14 FROM dual WHERE NOT EXISTS( SELECT * FROM setting WHERE uid = #{uid});	
  </insert>
  
  <select id="getUidbyEmail" resultType="int">
  	<!-- SELECT uid FROM user WHERE email=#{email} -->
  	SELECT uid FROM user WHERE email=#{email};
  </select>
  
  <insert id="insertSetting">
  	UPDATE setting SET fontSize = #{font} WHERE uid = #{uid};
  </insert>
  
  <select id="getRoom" resultType="HashMap">
  	SELECT * FROM room WHERE host_id = #{uid} ORDER BY room_id;
  </select>
  
  <insert id="makeRoom">
  	INSERT INTO room (host_id, guest_id, room_title, room_password) VALUES (#{uid}, 0, #{title}, #{pw});
  </insert>
  
  <select id="countAllbyID" resultType="int">
  	SELECT COUNT(*) AS cnt FROM room WHERE host_id=#{id};
  </select>
  
  <select id="getNewRoomID" resultType="int">
  	SELECT room_id FROM room WHERE host_id = #{uid} ORDER BY room_id DESC LIMIT 1;
  </select>
</mapper>